<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default"
			 connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.100)(PORT=32769))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=SCOTT;Password=TIGER;"
			 providerName="Oracle.DataAccess.Client" />
	</connectionStrings>
</configuration>
